
/* ========= INTRO JUMBO PARALLAX ========== */
.jumbotron {
  padding: 5rem ;
  background-color: #e9ecef;

  /* Set Height */
  min-height: 600px;

  background-image: url("../images/head_bg.jpg");


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


@keyframes sparkle-ani1 {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  20% {
    transform: translateX(20px) translateY(-10px);
  }
  40% {
    transform: translateX(-10px) translateY(-30px);
  }
  60% {
    transform: translateX(-20px) translateY(-10px);
  }
  80% {
    transform: translateX(10px) translateY(10px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
@keyframes sparkle-ani2 {
  0% {
    transform: translateX(20px) translateY(0px);
  }
  20% {
    transform: translateX(-10px) translateY(20px);
  }
  40% {
    transform: translateX(0px) translateY(-10px);
  }
  60% {
    transform: translateX(20px) translateY(0px);
  }
  80% {
    transform: translateX(-10px) translateY(20px);
  }
  100% {
    transform: translateX(20px) translateY(0px);
  }
}
@keyframes sparkle-ani3 {
  0% {
    transform: translateX(-30px) translateY(10px);
  }
  20% {
    transform: translateX(-10px) translateY(0px);
  }
  40% {
    transform: translateX(0px) translateY(-20px);
  }
  60% {
    transform: translateX(20px) translateY(10px);
  }
  80% {
    transform: translateX(15px) translateY(-20px);
  }
  100% {
    transform: translateX(-30px) translateY(10px);
  }
}

.sparkle1 {
  width: 400px;
  height: 400px;
  background-image: url("../images/sparkle-01.svg");
  border: 0;
  opacity: 0.5;
  position: absolute;
  border-radius: 100%;
  bottom: -214px;
  left: -69px;
  animation: sparkle-ani2 10s infinite;
  animation-timing-function: linear;
}
.cir1 {
  width: 100px;
  height: 100px;
  border: solid 2px white;
  opacity: 0.5;
  position: absolute;
  border-radius: 100%;
  bottom: -114px;
  left: 400px;
  animation: sparkle-ani2 10s infinite;
  animation-timing-function: linear;
}

.sparkle2 {
  width: 120px;
  height: 120px;
  background-image: url("../images/sparkle-01.svg");
  border: 0;
  opacity: 0.5;
  position: absolute;
  border-radius: 100%;
  bottom: 214px;
  left: -69px;
  animation: sparkle-ani2 10s infinite;
  animation-timing-function: linear;
}

.sparkle3 {
  width: 30px;
  height: 30px;
  background-image: url("../images/sparkle-01.svg");
  border: 0;
  opacity: 0.6;
  position: absolute;
  border-radius: 100%;
  top: 183px;
  left: 78px;
  animation: sparkle-ani3 10s infinite;
  animation-timing-function: linear;
}

.sparkl4 {
  width: 220px;
  height: 220px;
  background-color: transparent;
  border: solid 2px white;
  opacity: 0.6;
  position: absolute;
  border-radius: 100%;
  bottom: -100px;
  left: 100px;
  animation: sparkle-ani3 10s infinite;
  animation-timing-function: linear;
}

.sparkle5 {
  width: 50px;
  height: 50px;
  background-image: url("../images/sparkle-01.svg");
  border: 0;
  opacity: 0.5;
  position: absolute;
  border-radius: 100%;
  bottom: 30px;
  left: 298px;
  animation: sparkle-ani2 10s infinite;
  animation-timing-function: linear;
}

.sparkle6 {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border: solid 2px white;
    opacity: 0.6;
    position: absolute;
    border-radius: 100%;
    top: -36px;
    right: 61px;
    animation: sparkle-ani3 10s infinite;
    animation-timing-function: linear;
}

.sparkle7 {
  width: 165px;
  height: 165px;
  background-image: url("../images/sparkle-01.svg");
  border: 0;
  opacity: 0.45;
  position: absolute;
  border-radius: 100%;
  top: 71px;
  right: -106px;
  animation: sparkle-ani1 10s infinite;
  animation-timing-function: linear;
}

.sparkle8 {
  width: 20px;
  height: 20px;
  background-image: url("../images/sparkle-01.svg");
  border: 0;
  opacity: 0.7;
  position: absolute;
  border-radius: 100%;
  top: 183px;
  right: 78px;
  animation: sparkle-ani2 10s infinite;
  animation-timing-function: linear;
}




.moon {
  top: 65px;
  left: 65px;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0.4;
  box-shadow: 20px 4px 0px 15px #ffffff;
}

.boxBorder{
  border-style: solid;
  border-width: 2px;
  width: 100%;
  min-height: 400px;
  border-color: #fff;
  padding: 10rem 0;
}

/* ========= END INTO JUMBO PARALLAX ========== */



/* ========= PORTFOLIO JUMBO PARALLAX ========== */
.jumbotron2 {
  padding: 5rem ;
  background-color: #e9ecef;

  /* Set Height */
  min-height: 250px;

  background-image: url("../images/port_bg.jpg");

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.boxBorder2{
  border-style: solid;
  border-width: 2px;
  width: 100%;
  border-color: #fff;
  padding: 5rem 0;
}

@media only screen and (max-width: 600px) {
  .boxBorder, .boxBorder2{
    border-style: none;
  }

  .moon {
    width: 100px;
    height: 100px;
  }

  .jumbotron, .boxBorder {
    min-height: 100px;
  }


}

/* ========= END JUMBO PARALLAX ========== */


/* ========= ANOTHER JUMBO PARALLAX ========== */
.jumbotron3 {
  background-color: #e9ecef;

  /* Set Height */
/*    min-height: 400px;
*/
background-image: url("../images/head_bg.jpg");

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}

/* ========= END SKILLS JUMBO PARALLAX ========== */



/* ============= BODY AND CONTAINERS ============ */

html, body {
/*    background-image: url("../images/flowerpower.png");
*/    height: 100%;
margin: 0;
}

.container {
  background-color: #fff;
  margin: 23px auto;
  padding: 25px;
  border-width: 1px;
}

/* Container Cheat */

.container_inner {
  margin: 23px auto;
  padding: 25px;
  border-width: 1px;
  color:#fff;
}

.row {
  margin: 25px 0px;
}

.logo{
  background-color: #A65656;
  color: #fff;
  width: 20%;
  height: 44px;
  padding: 10px;
  text-align: center;
}

.navbar{
  padding: 0 2rem;
  min-height: 40px;
}

.navigation{
  width: 80%;
  text-align: right;
  height:80px;
  margin: 0 auto;
  padding-top: 25px;
}

/* ============= TYPOGRAPHY ============ */

h1,h2,h3,h4,h5 {
  font-family: 'Varela Round', sans-serif;
}

p,a,span, h6 {
  font-family: 'Montserrat', sans-serif;
  color:#777777;
  line-height:1.5em;
}

h1{
  text-align: center;
  margin: 0 auto;
  font-size: 32px;
}

h2{
  color: #846cb8;
  font-size: 24px;
  font-weight: bold;
  margin: 0 15px;
}

h6 {
  font-size: 12px;
  padding-top: 15px;
}

.display-3 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  color:#fff;
}

.display-4 {
  font-size:1.4rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: .2rem;
  color:#fff;
}


a{
  text-decoration: none;
}

.whiteText{
  color:#fff;
}



/* ============= END TYPOGRAPHY ============ */

/* ============= DIVIDERS ============ */

hr {
  border-color: #dddddd;
  border-style: dotted;
  margin: 25px 0;
}

/* ============= END DIVIDERS ============ */



/* ============= BUTTON ============ */

btn {
  padding: 10px 30px;
  color:#fff;
  background-color: #fff;
  border-width: 0px;
  border-radius: 5px;
  font-size: 18px;

}

button:hover {
  background-color: #fff;

}


/* ============= FORM ============ */

input, textarea {
  width: 100%;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
}

input {
  min-height:25px;
}

textarea {
  min-height:150px;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(255, 255, 225, 0.0);
  background-clip: padding-box;
  border: 1px solid #fff;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }}

  label {
    color:#fff;
  }

  input::placeholder {
    color:#fff;
  }


  /* ============= PORTFOLIO ============ */

  /* ============= Overlay On Images ============= */

  .portfolioPiece {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    margin: 10px 0;
  }


  .card-img-overlay {
    padding: 3rem 0;
    color: #fff;
    background-color: #fff;
    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
    transition: opacity 1s;
    opacity:0;

  }

  .card-img-overlay:hover {
    opacity: .8;
  }


  .card-img {
    width: 100%;
    border-radius: 0;
  }

  a:hover {
    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
    transition: opacity 1s;
    opacity: 1;
    color: #555;
    text-decoration: none;
  }




  /* ============= ABOUT ============ */

  .cirIMG{
    border-radius: 500px;
  }




  img {
    width:100%;
    display: block;
  }


